<div class="container">
    <br>
    <a class="btn-primary btn" href="#/addresses/editor">Добавить новый адрес</a>
    <button class="btn-danger btn" type="button" ng-click="delete()">Удалить отмеченные адреса</button>
    <br><br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th></th><th>Регион</th><th>Город</th><th>Улица</th><th>Дом</th><th>Квартира</th><th>Индекс</th><th>Редактирование</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in addresses">
            <td>
                <label><input class="checkbox_delete" type="checkbox" id="{{ x.id }}"></label>
            </td>
            <td>{{ x.region }}</td>
            <td>{{ x.city }}</td>
            <td>{{ x.street }}</td>
            <td>{{ x.building }}</td>
            <td>{{ x.apartment }}</td>
            <td>{{ x.index }}</td>
            <td>
                <a href="#/addresses/editor/edit/?id={{ x.id }}">Изменить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>