<div class="container" style="width: 80%">
    <button ng-click="add()">Добавить новый адрес</button>
    <table>
        <tr>
            <th>Регион</th><th>Город</th><th>Улица</th><th>Дом</th><th>Квартира</th><th>Индекс</th>
        </tr>
        <tr ng-repeat="x in addresses | filter : region">
            <td>{{ x.region }}</td>
            <td>{{ x.city }}</td>
            <td>{{ x.street }}</td>
            <td>{{ x.building }}</td>
            <td>{{ x.apartment }}</td>
            <td>{{ x.index }}</td>
        </tr>
    </table>

    <script type="text/ng-template" id="addAddressModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Добавление адреса</h3>
        </div>
        <div class="modal-body">
            <span>Регион: </span>
            <input class="form-control" type="text" required ng-model="region" placeholder="Введите регион"><br>
            <span>Город: </span>
            <input class="form-control" type="text" required ng-model="city" placeholder="Введите город"><br>
            <span>Улица: </span>
            <input class="form-control" type="text" required ng-model="street" placeholder="Введите улицу"><br>
            <span>Дом: </span>
            <input class="form-control" type="text" required ng-model="building" placeholder="Введите номер дома"><br>
            <span>Квартира: </span>
            <input class="form-control" type="text" required ng-model="apartment" placeholder="Введите номер квартиры"><br>
            <span>Индекс: </span>
            <input class="form-control" type="number" min="000000" max="999999" required ng-model="index" placeholder="Введите индекс"><br>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="save()">Сохранить</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Отмена</button>
        </div>
    </script>
</div>