<div class="container" style="width: 80%">
    <table>
        <tr>
            <td>
                <span>Регион: </span>
            </td>
            <td>
                <input class="form-control" type="text" required ng-model="region" placeholder="Введите регион">
            </td>
        </tr>
        <tr>
            <td>
                <span>Город: </span>
            </td>
            <td>
                <input class="form-control" type="text" required ng-model="city" placeholder="Введите город">
            </td>
        </tr>
        <tr>
            <td>
                <span>Улица: </span>
            </td>
            <td>
                <input class="form-control" type="text" required ng-model="street" placeholder="Введите улицу">
            </td>
        </tr>
        <tr>
            <td>
                <span>Дом: </span>
            </td>
            <td>
                <input class="form-control" type="text" required ng-model="building" placeholder="Введите номер дома">
            </td>
        </tr>
        <tr>
            <td>
                <span>Квартира: </span>
            </td>
            <td>
                <input class="form-control" type="text" required ng-model="apartment" placeholder="Введите номер квартиры">
            </td>
        </tr>
        <tr>
            <td>
                <span>Индекс: </span>
            </td>
            <td>
                <input class="form-control" type="number" min="000000" max="999999" required ng-model="index" placeholder="Введите индекс">
            </td>
        </tr>
    </table>
    <button id="btn_add" type="button" ng-click="add()">Сохранить</button>
    <a href="#/addresses_table">Отмена</a>
</div>