<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <table class="table">
                <thead></thead>
                <tbody>
                <tr>
                    <td>
                        <span>Номер заявления: </span>
                    </td>
                    <td>
                        <input class="form-control" type="number" required ng-model="statement.number">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Дата: </span>
                    </td>
                    <td>
                        <input class="form-control" type="date" required ng-model="statement.date">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Жилое помещение: </span>
                    </td>
                    <td>
                        <input class="form-control" type="checkbox" required ng-model="statement.housing">
                    </td>
                </tr>
                </tbody>
            </table>
            <h3>
                Данные точки учёта:
            </h3>
            <div ng-include="'/partials/pointsFilter.html'"></div>
            <div style="{ height: 200px !important; overflow: scroll; }">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th><th>Собственник</th><th>Адрес</th><th>Дата установки</th><th>Счётчик</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in points" ng-click="pickPoint(x);" style="cursor: pointer;">
                        <td>
                            <span ng-if="x == statement.meteringPoint" class="label label-success">Выбрана</span>
                        </td>
                        <td>
                            {{ x.owner.name }}
                        </td>
                        <td>{{ x.address.region + ', ' + x.address.city + ', ' +
                            x.address.street + ', ' + x.address.building + ', ' +
                            x.address.apartment + '; Индекс: ' + x.address.index }}</td>
                        <td>{{ x.installationDate }}</td>
                        <td>
                            {{ x.meter.model.Manufacturer + ' ' + x.meter.model.name + '; с/н: ' + x.meter.serialNumber }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <br><br>
            <button class="btn btn-success" id="btn_add" type="button" ng-hide="isUpdate" ng-click="add()">Сохранить</button>
            <button class="btn btn-success" id="btn_upt" type="button" ng-show="isUpdate" ng-click="update()">Сохранить</button>
            <a class="btn btn-default" href="#/entity_statements/table">Отмена</a>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>