<div class="container">
    <br>
    <div id="alert_div">
    </div>
    <table class="table">
        <thead></thead>
        <tbody>
        <tr>
            <th>Номер: </th>
            <td>{{ passport.passportNumber }}</td>
        </tr>
        <tr>
            <th>Место выдачи: </th>
            <td>{{ passport.placeOfIssue }}</td>
        </tr>
        <tr>
            <th>Дата выдачи: </th>
            <td>{{ passport.dateOfIssue }}</td>
        </tr>
        <tr>
            <th>Адрес прописки: </th>
            <td>{{ passport.registrationAddress.region + ', ' + passport.registrationAddress.city + ', ' +
                passport.registrationAddress.street + ', ' + passport.registrationAddress.building + ', ' +
                passport.registrationAddress.apartment + '; Индекс: ' + passport.registrationAddress.index }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <a class="btn btn-default" href="#/persons/table">Назад</a>
</div>