<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div id="alert_div">
            </div>
            <table>
                <tr>
                    <td>
                        <span>Фамилия: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="person.lastName" placeholder="Введите фамилию">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Имя: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="person.firstName" placeholder="Введите имя">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Отчество: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" ng-model="person.middleName" placeholder="Введите отчество">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Телефон: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" minlength="11" required ng-model="person.phone" placeholder="Введите номер телефона">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>E-mail: </span>
                    </td>
                    <td>
                        <input class="form-control" type="email" required ng-model="person.email" placeholder="Введите e-mail адрес">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Персональный счёт: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" minlength="8" maxlength="8" required ng-model="person.personalAccount" placeholder="Введите номер счёта">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Номер паспорта: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="person.passport.passportNumber" placeholder="Введите номер паспорта">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Место выдачи паспорта: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="person.passport.placeOfIssue" placeholder="например, УФМС России...">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Дата выдачи паспорта: </span>
                    </td>
                    <td>
                        <label><input class="form-control" type="date" required ng-model="person.passport.dateOfIssue"></label>
                    </td>
                </tr>
            </table>

            <h3>Адрес прописки: </h3>
            <button class="btn btn-primary" type="button" ng-show="newRegistrationAddress || editRegistrationAddress" ng-click="pickRegistrationAddressFromDB()">Выбрать адрес из базы</button>
            <button class="btn btn-primary" type="button" ng-show="!editRegistrationAddress && isUpdate" ng-click="setEditRegistrationAddress()">Редактировать привязанный адрес</button>
            <button class="btn btn-primary" type="button" ng-hide="newRegistrationAddress" ng-click="setNewRegistrationAddress()">Зарегистрировать новый адрес</button>
            <br><br>
            <table ng-show="newRegistrationAddress || editRegistrationAddress">
                <tr>
                    <td>
                        <span>Регион: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="person.passport.registrationAddress.region" placeholder="Введите регион">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Город: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="person.passport.registrationAddress.city" placeholder="Введите город">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Улица: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="person.passport.registrationAddress.street" placeholder="Введите улицу">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Дом: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="person.passport.registrationAddress.building" placeholder="Введите номер дома">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Квартира: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="person.passport.registrationAddress.apartment" placeholder="Введите номер квартиры">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Индекс: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" minlength="6" maxlength="7" required ng-model="person.passport.registrationAddress.index" placeholder="Введите индекс">
                    </td>
                </tr>
            </table>
            <div ng-hide="newRegistrationAddress || editRegistrationAddress" style="{ height: 200px !important; overflow: scroll; }">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th><th>Регион</th><th>Город</th><th>Улица</th><th>Дом</th><th>Квартира</th><th>Индекс</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in addresses" ng-click="pickRegistrationAddress(x);" style="cursor: pointer;">
                        <td>
                            <span ng-if="x == person.passport.registrationAddress" class="label label-success">Выбран</span>
                        </td>
                        <td> {{ x.region }} </td>
                        <td> {{ x.city }} </td>
                        <td> {{ x.street }} </td>
                        <td> {{ x.building }} </td>
                        <td> {{ x.apartment }} </td>
                        <td> {{ x.index }} </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h3>Адрес фактического проживания: </h3>
            <button class="btn btn-primary" type="button" ng-show="newLivingAddress || editLivingAddress" ng-click="pickLivingAddressFromDB()">Выбрать адрес из базы</button>
            <button class="btn btn-primary" type="button" ng-show="!editLivingAddress && isUpdate" ng-click="setEditLivingAddress()">Редактировать привязанный адрес</button>
            <button class="btn btn-primary" type="button" ng-hide="newLivingAddress" ng-click="setNewLivingAddress()">Зарегистрировать новый адрес</button>
            <br><br>
            <table ng-show="newLivingAddress || editLivingAddress">
                <tr>
                    <td>
                        <span>Регион: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="person.livingAddress.region" placeholder="Введите регион">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Город: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="person.livingAddress.city" placeholder="Введите город">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Улица: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="person.livingAddress.street" placeholder="Введите улицу">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Дом: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="person.livingAddress.building" placeholder="Введите номер дома">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Квартира: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="person.livingAddress.apartment" placeholder="Введите номер квартиры">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Индекс: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" minlength="6" maxlength="7" required ng-model="person.livingAddress.index" placeholder="Введите индекс">
                    </td>
                </tr>
            </table>
            <div ng-hide="newLivingAddress || editLivingAddress" style="{ height: 200px !important; overflow: scroll; }">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th><th>Регион</th><th>Город</th><th>Улица</th><th>Дом</th><th>Квартира</th><th>Индекс</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in addresses" ng-click="pickLivingAddress(x);" style="cursor: pointer;">
                        <td>
                            <span ng-if="x == person.livingAddress" class="label label-success">Выбран</span>
                        </td>
                        <td> {{ x.region }} </td>
                        <td> {{ x.city }} </td>
                        <td> {{ x.street }} </td>
                        <td> {{ x.building }} </td>
                        <td> {{ x.apartment }} </td>
                        <td> {{ x.index }} </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br><br>
            <button class="btn btn-success" id="btn_add" type="button" ng-hide="isUpdate" ng-click="add()">Сохранить</button>
            <button class="btn btn-success" id="btn_upt" type="button" ng-show="isUpdate" ng-click="update()">Сохранить</button>
            <a class="btn btn-default" href="#/persons/table">Отмена</a>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>