<div class="container">
    <br>
    <div id="alert_div">
    </div>
    <a class="btn-primary btn" href="#/persons/editor">Добавить новое физ. лицо</a>
    <button class="btn-danger btn" type="button" ng-click="delete()">Удалить отмеченные записи</button>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th></th><th>Фамилия</th><th>Имя</th><th>Отчество</th><th>Телефон</th><th>E-mail</th><th>Номер счёта</th>
            <th>Адрес</th><th>Паспортные данные</th>
            <th>Редактирование</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in persons">
            <td>
                <label><input class="checkbox_delete" type="checkbox" id="{{ x.id }}"></label>
            </td>
            <td>{{ x.lastName }}</td>
            <td>{{ x.firstName }}</td>
            <td>{{ x.middleName }}</td>
            <td>{{ x.phone }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.personalAccount }}</td>
            <td>{{ x.livingAddress.region + ', ' + x.livingAddress.city + ', ' +
                x.livingAddress.street + ', ' + x.livingAddress.building + ', ' +
                x.livingAddress.apartment + '; Индекс: ' + x.livingAddress.index }}</td>
            <td><a href="#/persons/passport/?id={{ x.id }}">Посмотреть</a></td>
            <td>
                <a href="#/persons/editor/edit/?id={{ x.id }}">Изменить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>