<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div id="alert_div">
            </div>
            <table class="table">
                <thead></thead>
                <tbody>
                <tr>
                    <td>
                        <span>Название: </span>
                    </td>
                    <td>
                        <input class="form-control" type="text" required ng-model="service.name" placeholder="Введите название">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Цена: </span>
                    </td>
                    <td>
                        <input class="form-control" type="number" min="0" required ng-model="service.price" placeholder="Введите цену">
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <button class="btn btn-success" id="btn_add" type="button" ng-hide="isUpdate" ng-click="add()">Сохранить</button>
            <button class="btn btn-success" id="btn_upt" type="button" ng-show="isUpdate" ng-click="update()">Сохранить</button>
            <a class="btn btn-default" href="#/extra_services/table">Отмена</a>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>