<div class="container" style="width: 80%">
    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-primary btn-block" id="btn_test" type="button" ng-click="test()">Реестр договоров с юр. лицами</button>
            <br><br>
            <button class="btn btn-primary btn-block" type="button" ng-click="test()">Реестр договоров с физ. лицами</button>
            <br><br>
            <button class="btn btn-primary btn-block" type="button" ng-click="test()">Реестр актов выполненных работ</button>
            <br><br>
            <button class="btn btn-primary btn-block" type="button" ng-click="test()">Отчёт о коммерческой деятельности</button>
            <br><br>
            <button class="btn btn-primary btn-block" type="button" ng-click="test()">Отчёт о деятельности СУ</button>
        </div>
        <div class="col-xs-6">
            <h3>Период: </h3>
            С <input class="form-control" type="date"><br>
            По <input class="form-control" type="date">
        </div>
        <div class="col-xs-6">

        </div>
    </div>

    <!--br>
    {{ result }}
    <br>
    <button class="btn btn-warning" id="btn_fill" type="button" ng-click="fillDataBase()">Fill database</button-->
</div>