<!DOCTYPE html>
<html>
<head>
    <!-- BOOTSTRAP-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <script src="resources/js/jquery-1.12.4.min.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Вход в систему</title>
</head>
<body>
<div class="container">
<div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
        <form action="/index" method="post">
            <br>
            <input class="form-control"  type="text" name="username"><br>
            <input class="form-control"  type="password" name="password"><br>
            <button class="btn btn-default form-control" type="submit">Войти</button>
            <br>
            <br>
            <br>
            <!--h3><code>INSERT INTO sys_user VALUES ((SELECT nextval('user_id_seq')), 'admin', 'admin', 'ADMIN');</code></h3-->
        </form>
    </div>
    <div class="col-sm-5"></div>
</div>
</div>
</body>
</html>