<html>
<head>
    <meta charset="UTF-8">
    <title>ССК</title>
    <!-- BOOTSTRAP-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="resources/js/angular.min.js"></script>
    <script src="resources/js/angular-route.js"></script>
    <script src="resources/js/controllers/ownersController.js"></script>
    <script src="resources/js/controllers/addressesController.js"></script>
    <script src="resources/js/controllers/addressesEditorController.js"></script>
    <script src="resources/js/controllers/personsController.js"></script>
    <script src="resources/js/controllers/personsEditorController.js"></script>
    <script src="resources/js/controllers/personsPassportController.js"></script>
    <script src="resources/js/controllers/entitiesController.js"></script>
    <script src="resources/js/controllers/entitiesEditorController.js"></script>
    <script src="resources/js/controllers/modelsController.js"></script>
    <script src="resources/js/controllers/modelsEditorController.js"></script>
    <script src="resources/js/controllers/modelsInfoController.js"></script>

    <script src="resources/js/controllers/testController.js"></script>
</head>
<body ng-app="main" ng-controller="mainController">
<div><!--class="container"-->
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <span>Вы вошли как {{username}}.</span>
                </div>
            </div>
        </div>
        <div >
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!--div class="navbar-header">
                                <a class="navbar-brand" href="#">WebSiteName</a>
                            </div-->
                            <ul class="nav navbar-nav">
                                <!--li ng-click="pickMenuItem('owners')" ng-class="{active: menu.owners}"><a href="#/owners">Собственники</a></li-->
                                <li ng-click="pickMenuItem('models')" ng-class="{active: menu.models}"><a href="#/models/table">Модели счётчиков</a></li>
                                <li ng-click="pickMenuItem('persons')" ng-class="{active: menu.persons}"><a href="#/persons/table">Физические лица</a></li>
                                <li ng-click="pickMenuItem('entities')" ng-class="{active: menu.entities}"><a href="#/entities/table">Юридические лица</a></li>
                                <li ng-click="pickMenuItem('addresses')" ng-class="{active: menu.addresses}"><a href="#/addresses/table">Адреса</a></li>
                                <li ng-click="pickMenuItem('test')" ng-class="{active: menu.test}"><a href="#/test">Test</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li ng-click="pickMenuItem('profile')" ng-class="{active: menu.profile}"><a href="#"><span class="glyphicon glyphicon-user"></span> Профиль</a></li>
                                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Выйти</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ng-view/>
                </div>
            </div>
        </div>
</div>
</body>
<script>
    var app = angular.module('main',
            ["ngRoute",
                "owners", "addressesTable", "addressesEditor", "personsTable", "personsEditor", "personsPassport",
                "entitiesTable", "entitiesEditor", "modelsTable", "modelsEditor", "modelsInfo",
                "test"])
            .config(function($routeProvider){
                $routeProvider
                        .when("/owners", {
                            templateUrl:'/partials/owners.html',
                            controller:'ownersController'
                        })
                        .when("/addresses/editor", {
                            templateUrl:'/partials/addressesEditor.html',
                            controller:'addressesEditorController'
                        })
                        .when("/addresses/editor/edit", {
                            templateUrl:'/partials/addressesEditor.html',
                            controller:'addressesEditorController'
                        })
                        .when("/addresses/table", {
                            templateUrl:'/partials/addressesTable.html',
                            controller:'addressesController'
                        })
                        .when("/persons/editor", {
                            templateUrl:'/partials/personsEditor.html',
                            controller:'personsEditorController'
                        })
                        .when("/persons/editor/edit", {
                            templateUrl:'/partials/personsEditor.html',
                            controller:'personsEditorController'
                        })
                        .when("/persons/table", {
                            templateUrl:'/partials/personsTable.html',
                            controller:'personsController'
                        })
                        .when("/persons/passport", {
                            templateUrl:'/partials/personsPassport.html',
                            controller:'personsPassportController'
                        })
                        .when("/entities/editor", {
                            templateUrl:'/partials/entitiesEditor.html',
                            controller:'entitiesEditorController'
                        })
                        .when("/entities/editor/edit", {
                            templateUrl:'/partials/entitiesEditor.html',
                            controller:'entitiesEditorController'
                        })
                        .when("/entities/table", {
                            templateUrl:'/partials/entitiesTable.html',
                            controller:'entitiesController'
                        })
                        .when("/models/editor", {
                            templateUrl:'/partials/modelsEditor.html',
                            controller:'modelsEditorController'
                        })
                        .when("/models/editor/edit", {
                            templateUrl:'/partials/modelsEditor.html',
                            controller:'modelsEditorController'
                        })
                        .when("/models/table", {
                            templateUrl:'/partials/modelsTable.html',
                            controller:'modelsController'
                        })
                        .when("/models/info", {
                            templateUrl:'/partials/modelsInfo.html',
                            controller:'modelsInfoController'
                        })
                        .when("/test", {
                            templateUrl:'/partials/test.html',
                            controller:'testController'
                        })
                        .otherwise({
                            redirectTo:"/persons/table"
                        });
            });
    app.controller('mainController', function($scope, $http){
        $http({
            url:'/main/current_user',
            method:'GET'
        }).then(function(response){
            $scope.username = response.data;
        }, function(response){
            alert(response.data);
        });

        $scope.pickMenuItem = function (menuItem) {
            $.each($scope.menu, function(index, value) {
                $scope.menu[index] = false;
            });
            $scope.menu[menuItem] = true;
        };

        $scope.menu = {
            persons: true,
            entities: false,
            owners: false,
            addresses: false,
            test: false,
            profile: false,
            models: false
        };
    });
</script>
</html>