<html>
<head>
    <meta charset="UTF-8">
    <title>ССК</title>
    <!-- BOOTSTRAP-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <script src="resources/js/jquery-1.12.4.min.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>


    <script src="resources/js/angular.min.js"></script>
    <script src="resources/js/angular-route.js"></script>
    <script src="resources/js/controllers/ownersController.js"></script>
    <script src="resources/js/controllers/addressesController.js"></script>
    <script src="resources/js/controllers/addressesEditorController.js"></script>
    <script src="resources/js/controllers/personsController.js"></script>
    <script src="resources/js/controllers/personsEditorController.js"></script>
    <script src="resources/js/controllers/personsPassportController.js"></script>
    <script src="resources/js/controllers/entitiesController.js"></script>
    <script src="resources/js/controllers/entitiesEditorController.js"></script>
    <script src="resources/js/controllers/modelsController.js"></script>
    <script src="resources/js/controllers/modelsEditorController.js"></script>
    <script src="resources/js/controllers/modelsInfoController.js"></script>
    <script src="resources/js/controllers/enterpriseController.js"></script>
    <script src="resources/js/controllers/enterpriseEditorController.js"></script>
    <script src="resources/js/controllers/enterpriseInfoController.js"></script>
    <script src="resources/js/controllers/metersController.js"></script>
    <script src="resources/js/controllers/metersEditorController.js"></script>
    <script src="resources/js/controllers/pointsController.js"></script>
    <script src="resources/js/controllers/pointsEditorController.js"></script>
    <script src="resources/js/controllers/pointsInfoController.js"></script>
    <script src="resources/js/controllers/entityStatementsController.js"></script>
    <script src="resources/js/controllers/entityStatementsEditorController.js"></script>
    <script src="resources/js/controllers/personStatementsController.js"></script>
    <script src="resources/js/controllers/personStatementsEditorController.js"></script>
    <script src="resources/js/controllers/servicesEditorController.js"></script>
    <script src="resources/js/controllers/servicesController.js"></script>
    <script src="resources/js/controllers/agreementsEditorController.js"></script>
    <script src="resources/js/controllers/agreementsController.js"></script>
    <script src="resources/js/controllers/accountsEditorController.js"></script>
    <script src="resources/js/controllers/accountsController.js"></script>

    <script src="resources/js/controllers/reportsController.js"></script>
    <script src="resources/js/controllers/userProfileController.js"></script>
    <script src="resources/js/controllers/testController.js"></script>
</head>
<body ng-app="main" ng-controller="mainController">
<div class="container-fluid">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    Вы вошли как  <span ng-bind="username"></span>.
                </div>
            </div>
        </div>
        <div >
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!--div class="navbar-header">
                                <a class="navbar-brand" href="#">WebSiteName</a>
                            </div-->
                            <ul class="nav navbar-nav" >
                                <li ng-if="role == 'ADMIN' || role == 'OPERATOR'" ng-click="pickMenuItem('points')" ng-class="{active: menu.points}"><a href="#/points/table">Точки учёта</a></li>
                                <li class="dropdown" ng-if="role == 'ADMIN' || role == 'OPERATOR'">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Заявления
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li ng-click="pickMenuItem('entityStatements')" ng-class="{active: menu.entityStatements}"><a href="#/entity_statements/table">Заявления юр. лиц</a></li>
                                        <li ng-click="pickMenuItem('personStatements')" ng-class="{active: menu.personStatements}"><a href="#/person_statements/table">Заявления физ. лиц</a></li>
                                    </ul>
                                </li>
                                <li ng-if="role == 'ADMIN' || role == 'OPERATOR'" ng-click="pickMenuItem('agreements')" ng-class="{active: menu.agreements}"><a href="#/agreements/table">Договоры</a></li>
                                <li ng-if="role == 'ADMIN' || role == 'OPERATOR'" ng-click="pickMenuItem('acts')" ng-class="{active: menu.acts}"><a href="#/acts/table">Акты</a></li>
                                <li class="dropdown"  ng-if="role == 'ADMIN' || role == 'OPERATOR'">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Собственники
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li ng-click="pickMenuItem('persons')" ng-class="{active: menu.persons}"><a href="#/persons/table">Физические лица</a></li>
                                        <li ng-click="pickMenuItem('entities')" ng-class="{active: menu.entities}"><a href="#/entities/table">Юридические лица</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"  ng-if="role == 'ADMIN' || role == 'OPERATOR'">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Справочные данные
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li ng-click="pickMenuItem('models')" ng-class="{active: menu.models}"><a href="#/models/table">Модели счётчиков</a></li>
                                        <li ng-click="pickMenuItem('meters')" ng-class="{active: menu.meters}"><a href="#/meters/table">Счётчики</a></li>
                                        <li ng-click="pickMenuItem('services')" ng-class="{active: menu.services}"><a href="#/extra_services/table">Услуги</a></li>
                                        <li ng-click="pickMenuItem('addresses')" ng-class="{active: menu.addresses}"><a href="#/addresses/table">Адреса</a></li>
                                        <li ng-click="pickMenuItem('enterprise')" ng-class="{active: menu.enterprise}"><a href="#/enterprise/table">Данные предприятия</a></li>
                                    </ul>
                                </li>
                                <li ng-if="role == 'ADMIN'"
                                        ng-click="pickMenuItem('accounts')" ng-class="{active: menu.accounts}"><a href="#/accounts/table">Управление учётными записями</a></li>
                                <!--li ng-click="pickMenuItem('test')" ng-class="{active: menu.test}"><a href="#/test">Test</a></li-->
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li ng-click="pickMenuItem('userProfile')" ng-class="{active: menu.userProfile}"><a href="#/user"><span class="glyphicon glyphicon-user"></span> Профиль</a></li>
                                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Выйти</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ng-view/>
                </div>
            </div>
        </div>
</div>
</body>
<script>
    var app = angular.module('main',
            ["ngRoute",
                "owners", "addressesTable", "addressesEditor", "personsTable", "personsEditor", "personsPassport",
                "entitiesTable", "entitiesEditor", "modelsTable", "modelsEditor", "modelsInfo",
                "enterpriseTable", "enterpriseEditor", "enterpriseInfo", "metersTable", "metersEditor",
                "pointsTable", "pointsEditor", "pointsInfo", "entityStatementsTable", "entityStatementsEditor",
                "personStatementsTable", "personStatementsEditor", "servicesTable", "servicesEditor",
                "agreementsTable", "agreementsEditor", "accountsTable", "accountsEditor",
                "userProfile", "test"])
            .config(function($routeProvider){
                $routeProvider
                        .when("/owners", {
                            templateUrl:'/partials/owners.html',
                            controller:'ownersController'
                        })
                        .when("/addresses/editor", {
                            templateUrl:'/partials/addressesEditor.html',
                            controller:'addressesEditorController'
                        })
                        .when("/addresses/editor/edit", {
                            templateUrl:'/partials/addressesEditor.html',
                            controller:'addressesEditorController'
                        })
                        .when("/addresses/table", {
                            templateUrl:'/partials/addressesTable.html',
                            controller:'addressesController'
                        })
                        .when("/persons/editor", {
                            templateUrl:'/partials/personsEditor.html',
                            controller:'personsEditorController'
                        })
                        .when("/persons/editor/edit", {
                            templateUrl:'/partials/personsEditor.html',
                            controller:'personsEditorController'
                        })
                        .when("/persons/table", {
                            templateUrl:'/partials/personsTable.html',
                            controller:'personsController'
                        })
                        .when("/persons/passport", {
                            templateUrl:'/partials/personsPassport.html',
                            controller:'personsPassportController'
                        })
                        .when("/entities/editor", {
                            templateUrl:'/partials/entitiesEditor.html',
                            controller:'entitiesEditorController'
                        })
                        .when("/entities/editor/edit", {
                            templateUrl:'/partials/entitiesEditor.html',
                            controller:'entitiesEditorController'
                        })
                        .when("/entities/table", {
                            templateUrl:'/partials/entitiesTable.html',
                            controller:'entitiesController'
                        })
                        .when("/models/editor", {
                            templateUrl:'/partials/modelsEditor.html',
                            controller:'modelsEditorController'
                        })
                        .when("/models/editor/edit", {
                            templateUrl:'/partials/modelsEditor.html',
                            controller:'modelsEditorController'
                        })
                        .when("/models/table", {
                            templateUrl:'/partials/modelsTable.html',
                            controller:'modelsController'
                        })
                        .when("/models/info", {
                            templateUrl:'/partials/modelsInfo.html',
                            controller:'modelsInfoController'
                        })
                        .when("/enterprise/editor", {
                            templateUrl:'/partials/enterpriseEditor.html',
                            controller:'enterpriseEditorController'
                        })
                        .when("/enterprise/editor/edit", {
                            templateUrl:'/partials/enterpriseEditor.html',
                            controller:'enterpriseEditorController'
                        })
                        .when("/enterprise/table", {
                            templateUrl:'/partials/enterpriseTable.html',
                            controller:'enterpriseController'
                        })
                        .when("/enterprise/info", {
                            templateUrl:'/partials/enterpriseInfo.html',
                            controller:'enterpriseInfoController'
                        })
                        .when("/meters/editor", {
                            templateUrl:'/partials/metersEditor.html',
                            controller:'metersEditorController'
                        })
                        .when("/meters/editor/edit", {
                            templateUrl:'/partials/metersEditor.html',
                            controller:'metersEditorController'
                        })
                        .when("/meters/table", {
                            templateUrl:'/partials/metersTable.html',
                            controller:'metersController'
                        })
                        .when("/points/editor", {
                            templateUrl:'/partials/pointsEditor.html',
                            controller:'pointsEditorController'
                        })
                        .when("/points/editor/edit", {
                            templateUrl:'/partials/pointsEditor.html',
                            controller:'pointsEditorController'
                        })
                        .when("/points/table", {
                            templateUrl:'/partials/pointsTable.html',
                            controller:'pointsController'
                        })
                        .when("/points/info", {
                            templateUrl:'/partials/pointsInfo.html',
                            controller:'pointsInfoController'
                        })
                        .when("/entity_statements/editor", {
                            templateUrl:'/partials/entityStatementsEditor.html',
                            controller:'entityStatementsEditorController'
                        })
                        .when("/entity_statements/editor/edit", {
                            templateUrl:'/partials/entityStatementsEditor.html',
                            controller:'entityStatementsEditorController'
                        })
                        .when("/entity_statements/table", {
                            templateUrl:'/partials/entityStatementsTable.html',
                            controller:'entityStatementsController'
                        })
                        .when("/person_statements/editor", {
                            templateUrl:'/partials/personStatementsEditor.html',
                            controller:'personStatementsEditorController'
                        })
                        .when("/person_statements/editor/edit", {
                            templateUrl:'/partials/personStatementsEditor.html',
                            controller:'personStatementsEditorController'
                        })
                        .when("/person_statements/table", {
                            templateUrl:'/partials/personStatementsTable.html',
                            controller:'personStatementsController'
                        })
                        .when("/extra_services/editor", {
                            templateUrl:'/partials/servicesEditor.html',
                            controller:'servicesEditorController'
                        })
                        .when("/extra_services/editor/edit", {
                            templateUrl:'/partials/servicesEditor.html',
                            controller:'servicesEditorController'
                        })
                        .when("/extra_services/table", {
                            templateUrl:'/partials/servicesTable.html',
                            controller:'servicesController'
                        })
                        .when("/agreements/editor", {
                            templateUrl:'/partials/agreementsEditor.html',
                            controller:'agreementsEditorController'
                        })
                        .when("/agreements/editor/edit", {
                            templateUrl:'/partials/agreementsEditor.html',
                            controller:'agreementsEditorController'
                        })
                        .when("/agreements/table", {
                            templateUrl:'/partials/agreementsTable.html',
                            controller:'agreementsController'
                        })
                        .when("/accounts/editor", {
                            templateUrl:'/partials/accountsEditor.html',
                            controller:'accountsEditorController'
                        })
                        .when("/accounts/editor/edit", {
                            templateUrl:'/partials/accountsEditor.html',
                            controller:'accountsEditorController'
                        })
                        .when("/accounts/table", {
                            templateUrl:'/partials/accountsTable.html',
                            controller:'accountsController'
                        })
                        .when("/user", {
                            templateUrl:'/partials/userProfile.html',
                            controller:'userProfileController'
                        })
                        .when("/reports", {
                            templateUrl:'/partials/reports.html',
                            controller:'reportsController'
                        })
                        .when("/test", {
                            templateUrl:'/partials/test.html',
                            controller:'testController'
                        })
                        .otherwise({
                            redirectTo:"/points/table"
                        });
            });
    app.controller('mainController', function($scope, $http){
        $http({
            url:'/main/current_user',
            method:'GET'
        }).then(function(response){
            var auth = response.data;
            auth = JSON.parse(auth);
            $scope.role = auth.principal.authorities[0].role;
            $scope.username = auth.principal.username;
            if ($scope.role == 'DIRECTOR') {
                window.location.href = "#/reports";
            }
        }, function(response){
            alert(response.data);
        });

        $scope.pickMenuItem = function (menuItem) {
            $.each($scope.menu, function(index, value) {
                $scope.menu[index] = false;
            });
            $scope.menu[menuItem] = true;
        };

        $scope.menu = {
            persons: false,
            entities: false,
            owners: false,
            addresses: false,
            test: false,
            models: false,
            enterprise: false,
            meters: false,
            points: true,
            entityStatements: false,
            personStatements: false,
            userProfile: false,
            services: false,
            agreements: false,
            accounts: false
        };
    });
</script>
</html>